.icon{  
    height: 60px;
    width: 60px;
    margin:0.2rem 0.8rem;
    font-size: 2rem;
    color: #fff;
    border:1px solid black;
    color: black;
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

input{
    margin:5px;
    padding:5px;
}

input::placeholder{
    font-size: 10px;
    font-weight: 700;
}